{% extends "fiesta/base.html" %}
{% load i18n %}
{% load breadcrumbs %}

{% load editorjs %}
{% load pages %}

{% block upper_head %}
  {# push it to <title> #}
  {% if page.default %}
    {% breadcrumb_push_item page.section.name %}
  {% else %}
    {% breadcrumb_push_item page.title %}
  {% endif %}
{% endblock %}

{% block breadcrumbs_container %}{# no visible breadcrumbs #}{% endblock %}

{% block header_container %}
  <nav
    class="navbar px-0"
    x-data="{mobileMenuShown: false, user: false}"
    {# TODO: cannot be so general #}
    {# hx-boost="true" #}
    >
    <div class="container flex flex-wrap justify-between items-center mx-auto">

      {% include "fiesta/parts/logo.html" %}
      <div class="flex items-center md:order-2 relative">
        {% include "fiesta/parts/theme_switch.html" %}
        {# TODO: display for potential members/internationals == at some time, they have been logged in #}
        {#        {% include "fiesta/parts/user_status.html" %}#}
        {% include "fiesta/parts/navigation_toggle.html" %}
      </div>
      {% get_navigation_items_for_pages as items %}
      {% include "fiesta/parts/navigation_items.html" with item=items %}
    </div>
  </nav>
{% endblock %}

{% block main %}
  <div class="prose prose-lg mx-auto">
    {% if not page.default %}<h1>{{ page.title }}</h1>{% endif %}
    {{ page.content | editorjs }}
  </div>
{% endblock %}
