{% extends "fiesta/base.html" %}
{% load navigation %}
{% load i18n %}
{% load breadcrumbs %}

{% load editorjs %}
{% load pages %}

{% block upper_head %}
  {# push it to <title> #}
  {% if page.default %}
    {% breadcrumb_push_item page.section.name %}
  {% else %}
    {% breadcrumb_push_item page.title %}
  {% endif %}
{% endblock %}

{% block breadcrumbs_container %}{# no visible breadcrumbs #}{% endblock %}

{% block header_container %}
  <nav
    class="navbar px-0 min-h-0"
    x-data="{mobileMenuShown: false, user: false}"
    {# TODO: cannot be so general #}
    {# hx-boost="true" #}
    >
    <div class="container mx-auto grid auto-cols-auto">

      <a href="{% get_home_url %}"
         class="flex flex-row items-baseline text-base-content group">{% include "fiesta/parts/logo.html" %}</a>
      <div class="col-start-3 row-start-1 flex justify-end items-center relative gap-x-2">
        {% include "fiesta/parts/theme_switch.html" %}
        {# TODO: display for potential members/internationals == at some time, they have been logged in #}
        {#        {% include "fiesta/parts/user_status.html" %}#}
        {% include "fiesta/parts/navigation_toggle.html" %}
      </div>

      {% get_navigation_items_for_pages as items %}
      <div class="col-start-1 col-span-3 md:col-span-1 md:row-start-1 md:col-start-2 md:flex {# has to be here to have specificity over :class #} justify-between items-center"
           x-data="{expand: undefined}"
           @click.outside="expand = undefined"
           :class="mobileMenuShown ? 'block' : 'hidden'">
        {% include "fiesta/parts/navigation_items.html" with item=items %}
      </div>
    </div>
  </nav>
{% endblock %}

{% block main %}
  <div class="prose prose-lg mx-auto">
    {% if not page.default %}<h1>{{ page.title }}</h1>{% endif %}
    {{ page.content | editorjs }}
  </div>
{% endblock %}
