{% load messages %}
{# Enables HTMX to swap this element from response. #}
<div id="messages" hx-swap-oob="true">
    {% if messages %}
        <div class="absolute top-5 right-5 flex flex-col gap-y-4 z-50">
            {% for message in messages %}
                {% with message|message_to_template as template %}
                    {% include template %}
                {% endwith %}
                {# <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> #}
            {% endfor %}
        </div>
    {% endif %}
</div>
