{% load i18n %}
{% load event_tags %}

<li class="py-4 bg-base-200 rounded-box p-4 mb-4 md:box-content">
    <a href="{% url "events:event-detail" event.id %}">
      <div class="flex items-center space-x-4">

        <div class="flex-shrink-0">
          <div class="h-12 w-12 rounded-full bg-cover bg-center"
              style='background-image: url("{{ event.portrait_cover }}")'></div>
        </div>

        <div class="flex-grow">
          <h2 class="text-2xl font-semibold"><a href="{% url "events:event-detail" event.id %}"> {{ event.title }}</a>
          </h2>
          <p class="text-gray-600">{{ event.start.date}}</p>
          <p class="text-gray-600">{{ event.description }}</p>
        </div>

        <div class="flex-shrink-0">
          {% get_event_fullness event as tmp %}
          {% if tmp.0 == "green" %}
          <span class="bg-green-400 mr-2 border divide-gray-100 rounded-full pt-2 pb-2 pl-3 pr-3 mb-2">{{tmp.1}}</span>
          {% elif tmp.0 == "yellow" %}
          <span class="bg-yellow-400 mr-2 border divide-gray-100 rounded-full pt-2 pb-2 pl-3 pr-3 mb-2">{{tmp.1}}</span>
          {% elif tmp.0 == "red" %}
          <span class="bg-red-400 mr-2 border divide-gray-100 rounded-full pt-2 pb-2 pl-3 pr-3 mb-2">{{tmp.1}}</span>
          {%endif%}

          {% comment %} <button hx-post="{% url "events:event-confirm" event.id %}" hx-target="#events-list-unconfirmed" hx-swap="beforeend" >{% translate "Unpublish" %}</button> {% endcomment %}
        </div>

      </div>
    </a>
  </li>