{% load event_tags %}
{% load fiestaforms %}
{% load as_widget_field as_label from fiestaforms %}
{% load breadcrumbs %}
{% load i18n %}

{% block buttons_extra %}

{% endblock buttons_extra %}


<form action="{% url "events:event-update" event.pk %}" method="post" {% if form.is_multipart %}enctype="multipart/form-data" hx-encoding="multipart/form-data"{% endif %}>
  {% csrf_token %}

  {% if redirect_field_value %}
  <input type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}" />
  {% endif %}
  {{form}}

  {% block breadcrumbs_right %}
    <a class="btn btn-success btn-sm btn-outline"
    href="{% url "events:eventplace-add" event.pk %}"
    x-data="modal($el.href)"
    x-bind="bind">{% translate "Add new place" %}</a>
  {% endblock breadcrumbs_right %}

</form>


