{% load buddy_system %}
{% load i18n %}
{% load user_profile %}
{% load sections %}
{% get_section_statistics as stats %}
<div class="Dashboard__tiles">
  <div class="Dashboard__tile Dashboard__tile--dark shadow-2xl bg-secondary">
    <div class="Dashboard__tile__title text-white">{{ request.in_space_of_section.name }}</div>
    <div class="flex flex-row justify-between">
      <div class="flex flex-col">
        <span class="Dashboard__tile__value">{{ stats.members }} member{{ stats.members|pluralize }}</span>
        <span class="Dashboard__tile__desc text-gray-200">{{ stats.unconfirmed_members }} unconfirmed</span>
        <span class="Dashboard__tile__desc text-gray-200">{{ stats.alumni }} alumni</span>
      </div>
      <div class="flex flex-col items-end">
        <span class="Dashboard__tile__value">{{ stats.internationals }} international{{ stats.internationals|pluralize }}</span>
        <span class="Dashboard__tile__desc text-gray-200">{{ stats.internationals_wo_request }} without request</span>
      </div>
    </div>
  </div>
</div>
