{% extends "fiesta/base.html" %}
{% load fiestaforms %}
{% load state %}

{% load breadcrumbs %}
{% load i18n %}
{% load static %}
{% load utils %}

{% block upper_head %}
  {% trans "Settings" as title %}
  {% breadcrumb_push_current_plugin %}
  {% breadcrumb_push_item title %}
{% endblock upper_head %}


{% block main %}
  <div x-data="{ open: null }" class="space-y-2">
    {% for app, plugin, conf_form, plugin_form in plugins %}
      <div class="collapse collapse-arrow bg-slate-100"
           data-label="{{ app.label }}"
           :class="{'collapse-open': open === $el.dataset.label}">
        <div class="collapse-title text-xl font-medium flex flex-row justify-start items-center cursor-pointer"
             @click="open = (open === $el.parentElement.dataset.label) ? null : $el.parentElement.dataset.label">
          <span class="w-1/2">
            {% if app.emoji %}<span class="text-4xl align-middle leading-10 mr-2">{{ app.emoji }}</span>{% endif %}

            {{ app.verbose_name }}
          </span>
          {# btn with state #}
          <button class="btn btn-{{ plugin.state|plugin_state_to_badge_css }} flex flex-row items-center space-x-2"
                  @click.stop="$refs['{{ app.label }}'].showModal()">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 24"
                 fill="currentColor"
                 class="w-5 h-5">
              <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z" />
            </svg>

            {{ plugin.get_state_display }}
          </button>

          {#        <span class="ml-4">#}
          {#          {{ instance }}#}
          {#        </span>#}
        </div>
        <div class="collapse-content">
          {# do not display empty form #}
          {% if conf_form.fields %}
            <hr>
            {{ conf_form }}
          {% else %}
            <div class="alert">
              <svg xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 24 24"
                   class="stroke-info shrink-0 w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                </path>
              </svg>
              {% trans "Plugin does not have specific configuration." %}
            </div>
          {% endif %}
        </div>
      </div>
      {# change state dialog #}
      <dialog x-ref="{{ app.label }}" class="modal">
        <div class="modal-box flex flex-col space-y-4">
          <h3 class="font-bold text-xl">
            {% if app.emoji %}<span class="text-3xl align-middle leading-4 mr-2">{{ app.emoji }}</span>{% endif %}
            {{ app.verbose_name }}
          </h3>

          {# TODO: pass plugin type for non-existing plugins #}
          <form hx-post="{% url "sections:change-plugin-state" plugin.pk %}"
                method="POST">
            {% csrf_token %}
            <div class="join join-vertical w-full">
              {% for value, label in PluginState.choices %}
                {# TODO: would be nice to have the color of active button same as is plugin_state_to_badge_css returning #}
                <input type="radio"
                       name="{{ plugin_form.state|name_for_select_choice:value }}"
                       value="{{ value }}"
                       {% if value == plugin.state %}checked{% endif %}
                       aria-label="{{ label }}"
                       class="join-item btn" />
              {% endfor %}
            </div>

            <hr class="mt-4">

            <div class="Forms__field Forms__field--buttons space-x-4">
              <span class="mr-auto alert alert-warning alert-outline">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="stroke-current shrink-0 h-6 w-6"
                     fill="none"
                     viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                </svg>
                {% trans "The change is made immediately. Setting the plugin as not-enabled may disrupt your ongoing processes." %}
              </span>
              <input type="submit" value="{% trans "save" %}" class="btn btn-success">
            </div>
          </form>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
      </dialog>
    {% endfor %}
  </div>

{% endblock %}
