{% extends "fiesta/base.html" %}
{% load django_tables2 %}
{% load fiestaforms %}
{% load state %}

{% load breadcrumbs %}
{% load i18n %}
{% load static %}
{% load utils %}

{% block upper_head %}
  {% trans "Universities" as title %}
  {% breadcrumb_push_current_plugin %}
  {% breadcrumb_push_item title %}
{% endblock upper_head %}

{% block breadcrumbs_right %}
  {#  <button class="btn btn-success btn-sm btn-outline">#}
  {#    {% translate "Add university" %}#}
  {#  </button>#}
{% endblock breadcrumbs_right %}


{% block main %}
  {% for university, table in object_list|zip:tables %}

    <div class="mb-4 flex flex-row justify-between items-center">
      <h2 class="text-2xl font-bold">{{ university.name }}</h2>
      {#      <button class="btn btn-sm btn-outline btn-success">#}
      {#        {% translate "Add faculty" %}#}
      {#      </button>#}

    </div>

    <div>{% render_table table %}</div>
    <hr class="my-4">
    {#    {% include "fiestatables/table.html" with table=table %}#}
  {% endfor %}

{% endblock %}
