version: '3.3'
services:
  web:
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - web_static_files:/usr/src/static
      - web_media_files:/usr/src/media
      - webpack_build:/usr/src/build
    expose:
      - 8000
    env_file:
      - ./fiesta/.env.base
      - .env
    build:
      context: .
      dockerfile: fiesta/Dockerfile
    depends_on:
      - db
    environment:
      VIRTUAL_HOST: web.fiesta.test
      VIRTUAL_PORT: 8000

  db:
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "127.0.0.1:15432:5432"
    environment:
      POSTGRES_USER: fiesta
      POSTGRES_PASSWORD: fiesta
      POSTGRES_DB: fiesta
      TZ: Europe/Prague

  webserver:
    build:
      context: ./nginx
      dockerfile: webserver.Dockerfile
    command: [ nginx-debug, '-g', 'daemon off;' ]
    expose:
      - 80
    depends_on:
      - web
    volumes:
      - web_static_files:/var/static
      - web_media_files:/var/media
      - webpack_build:/var/build
      - wiki_static_files:/var/wiki
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      STATIC_LOCATION_PATTERN: "^\b$$"
      VIRTUAL_HOST: "*.fiesta.test,fiesta.test"
      VIRTUAL_PORT: 80

  dockerproxy:
    build:
      context: ./nginx
      dockerfile: dockerproxy.Dockerfile
    logging:
      driver: none
    ports:
      - "80:80"
      - "443:443"
      - "3306:3306"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

  webpack:
    build:
      context: .
      dockerfile: ./webpack/Dockerfile
    command: yarn dev
    expose:
      - 8003
    volumes:
      - webpack_build:/usr/src/build
    env_file:
      - ./webpack/.env.base
    environment:
      VIRTUAL_HOST: webpack.fiesta.test
      VIRTUAL_PORT: 8003
      BUILD_DIR: /usr/src/build
      NODE_ENV: development
      ROOT_DOMAIN: fiesta.test
      PUBLIC_PATH: //webpack.fiesta.test/static/

  legacydb:
    image: mariadb:10.3
    profiles: [ "migration" ]
    volumes:
      - legacydb_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: fiesta
      MYSQL_USER: fiesta
      MYSQL_PASSWORD: fiesta
      VIRTUAL_HOST: legacydb.fiesta.test
      VIRTUAL_PORT: 3306
    expose:
      - 3306

  elastic:
    image: elasticsearch:7.17.0
    profiles: [ "wiki" ]
    volumes:
      - elastic_data:/usr/share/elasticsearch/data
    ports:
      - "9200"

  kibana:
    image: kibana:7.17.0
    profiles: [ "wiki" ]
    depends_on:
      - elastic
    ports:
      - "5601"
    env_file:
      - ./wiki/.env.base
      - ./.env
    environment:
      VIRTUAL_HOST: kibana.fiesta.test
      VIRTUAL_PORT: 5601

  wikifetcher:
    build: ./wiki
    profiles: [ "wiki" ]
    # when elastic is not ready yet, try it again
    restart: on-failure
    depends_on:
      - elastic
    volumes:
      - wiki_static_files:/usr/src/static
    env_file:
      - .env
      - wiki/.env.base

volumes:
  postgres_data:
  elastic_data:
  legacydb_data:
  webpack_build:
  web_static_files:
  web_media_files:
  wiki_static_files:
