[tool.poetry]
name = "buena-fiesta"
version = "0.0.1"
description = "New generation of social network for helping international students - used by sections of Erasmus Student Network."
authors = ["ESN VUT BRNO"]

[tool.poetry.dependencies]
python = "^3.10"
django = "^4.0.6"
psycopg2-binary = "^2.9.3"
# to get AJAX commits
django-debug-toolbar = { git = "https://github.com/jazzband/django-debug-toolbar", rev = "571b2400" }
django-polymorphic = "^3.1.0"
django-extensions = "^3.1.5"
django-countries = "^7.2.1"
django-allauth = "^0.47.0"
# adding integrity=
django-webpack-loader = { git = "https://github.com/thejoeejoee/django-webpack-loader", rev = "dc2b5cb" }
django-click = "^2.3.0"
mysqlclient = "^2.1.0"
bcrypt = "^3.2.0"
django-htmx = "^1.8.0"
django-lifecycle = "^0.9.3"
# support for dj4.0
django-allauth-cas = { git = "https://github.com/thejoeejoee/django-allauth-cas", branch = "master" }
elasticsearch = "^7.17.0"
Pillow = "^9.0.1"
python-magic = "^0.4.25"
django-configurations = { extras = ["cache", "database", "email", "search"], version = "^2.3.2" }
django-tables2 = "^2.4.1"
django-filter = "^21.1"
tablib = {extras = ["xlsx"], version = "^3.2.1"}
factory-boy = "^3.2.1"
django-model-path-converter = "^0.1.0"
django-loginas = "^0.3.10"
django-cors-headers = "^3.13.0"

[tool.poetry.dev-dependencies]
pre-commit = "^2.17.0"
pydotplus = "^2.0.2"
faker_education = "^1.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.flake8]
max-line-length = 120
extend-ignore = "C408,C417"
max-complexity = 10

[tool.isort]
profile = 'black'
lines_between_types = 1
combine_as_imports = true
line_length = 120
known_first_party = ["fiesta", "apps"]
known_local_folder = ["apps"]

[tool.black]
exclude = '''
(
  /(
    | .+/migrations
  )/
)
'''
