{% extends "fiesta/base-variants/center-card-sm.html" %}

{% load breadcrumbs %}
{% load i18n %}

{% block upper_head %}
  {% trans "My Memberships" as title %}
  {% breadcrumb_push_item title %}
{% endblock upper_head %}

{% block card_body %}
  {% if request.all_memberships.exists %}
    {% include "accounts/memberships/membership_list.html" with memberships=request.all_memberships.all %}
  {% else %}
    <div class="max-w-xl flex flex-col mx-auto">
      <span class="self-center py-4">
        {# TODO: show CTA to entry the section space #}
        <span class="alert alert-warning">We are sorry: you have no memberships yet.</span>
      </span>
      <div class="flex flex-row justify-end items-center space-x-4">
        <a class="btn btn-primary" href="{% url "accounts:membership-new" %}">Request new membership</a>
      </div>
    </div>
  {% endif %}
{% endblock %}
