{% extends "fiesta/base-variants/center-card-lg.html" %}

{% load breadcrumbs %}
{% load i18n %}

{% block upper_head %}
  {% trans "My Memberships" as title %}
  {% breadcrumb_push_item title %}
{% endblock upper_head %}

{% block card_body %}
  {% if request.all_memberships.exists %}
    {% include "accounts/memberships/membership_list.html" with memberships=request.all_memberships.all %}
  {% else %}
    <div class="max-w-md flex flex-col mx-auto">
      <span class="self-center py-4">
        {#      TODO: show CTA to entry the section space #}
        no memberships
      </span>
      <div class="flex flex-row justify-between items-center space-x-4">
        <h1 class="text-gray-900 text-lg font-medium">Your section is not here?</h1>
        <a class="bg-primary text-white p-2 rounded inline-block"
           href="{% url "accounts:membership-new" %}">Request new membership</a>
      </div>
    </div>
  {% endif %}
{% endblock %}
