{% load socialaccount %}
{% load social_accounts %}
{% get_all_available_social_providers as social_apps %}

<div class="flex flex-row gap-2 justify-between flex-wrap">
  {% for app in social_apps %}
    {#  {% if provider.id == "openid" %}#}
    {#    {% for brand in provider.get_brands %}#}
    {# POST because security #}
    {#      <form method="POST"#}
    {#            action="{% provider_login_url provider.id openid=brand.openid_url process=process %}"#}
    {#            class="btn btn-sm btn-wide btn-secondary p-0 flex-grow">#}
    {#        {% csrf_token %}#}
    {#        <button class="w-full h-full"#}
    {#                name="submit"#}
    {#                title="{{ brand.name }}"#}
    {#                type="submit">{{ brand.name }}</button>#}
    {#      </form>#}
    {#    {% endfor %}#}
    {#  {% endif %}#}
    {# POST because security #}
    <form method="POST"
          action="{% provider_login_url app.provider process=process scope=scope auth_params=auth_params %}"
          class="SocialButton__form SocialButton__form--{{ app.provider }}">
      {% csrf_token %}
      <button class="SocialButton SocialButton--{{ app.provider }}"
              title="{{ provider.name }}"
              name="submit"
              type="submit">
        {% with "socialaccount/snippets/icons/"|add:app.provider|add:".html" as tmpl %}
          {% include tmpl %}
        {% endwith %}

        {{ app.name }}
      </button>
    </form>
  {% endfor %}
</div>
