{% load i18n %}
{% if record.state == record.State.ACTIVE %}
  <span class="badge badge-success">✅ {{ record.get_state_display }}</span>
{% elif record.state == record.State.BANNED %}
  <span class="badge badge-error">⛔ {{ record.get_state_display }}</span>
{% elif record.state == record.State.UNCONFIRMED and not disable_button %}
  <a class="btn btn-sm btn-outline btn-primary"
     x-data="modal($el.href)"
     x-bind="bind"
     href="{% url "sections:change-membership-state" record.pk %}">{% trans "Approve" %}</a>
{% endif %}
