{% load i18n %}
{% if record.state == SectionMembership.State.ACTIVE %}
  <span class="badge badge-sm badge-success badge-outline">✅ {{ record.get_state_display }}</span>
{% elif record.state == SectionMembership.State.BANNED %}
  <span class="badge badge-sm badge-error badge-outline">⛔ {{ record.get_state_display }}</span>
{% elif record.state == SectionMembership.State.UNCONFIRMED %}
  <a class="btn btn-sm btn-outline btn-primary"
     x-data="modal($el.href)"
     x-bind="bind"
     href="{% url "sections:change-membership-state" record.pk %}">{% trans "Approve" %}</a>
{% endif %}
