{% load i18n %}
{% load fiestaforms %}

<form hx-post="{{ form_url }}" method="POST" hx-swap="outerHTML">
  {% csrf_token %}
  <div class="join join-vertical w-full">
    {% for value, label in PluginState.choices %}
      {# TODO: would be nice to have the color of active button same as is plugin_state_to_badge_css returning #}
      <input type="radio"
             name="{{ form.state|name_for_select_choice:value }}"
             value="{{ value }}"
             {% if value == object.state %}checked{% endif %}
             {% if not object and value == PluginState.DISABLED %}checked{% endif %}
             aria-label="{{ label }}"
             class="join-item btn" />
    {% endfor %}
  </div>

  <hr class="mt-4">

  {% include "fiestaforms/parts/errors.html" with errors=form.errors %}
  {% for field in form.hidden_fields %}{{ field }}{% endfor %}

  <div class="Forms__field Forms__field--buttons space-x-4">
    {% if object %}
      <span class="mr-auto alert alert-warning alert-outline">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="stroke-current shrink-0 h-6 w-6"
             fill="none"
             viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
        {% trans "The change is made immediately. Setting the plugin as not-enabled may disrupt your ongoing processes." %}
      </span>
    {% endif %}
    <span class="loading loading-spinner loading-xl htmx-indicator"></span>
    <button type="submit" class="btn btn-success">
      {% if object %}
        {% trans "save" %}
      {% else %}
        {% trans "setup plugin" %}
      {% endif %}
    </button>
  </div>
</form>
