{% load i18n %}

{% include "fiestarequests/available_contacts_row.html" with user=request.issuer %}

<div class="collapse collapse-arrow bg-base-200 w-full flex-grow mt-2">
  <input type="checkbox" />
  <label class="collapse-title text-lg font-medium  ">{% translate "What to include in message?" %}</label>
  <div class="collapse-content">
    <ul class="list-disc pl-4">
      <li>{% translate "Through which platform you will contact him/her" %}</li>
      <li>{% translate "That you're looking forward to see her/him" %}</li>
      <li>{% translate "Kind words to support in their international mobility" %}</li>
      <li>{% translate "These is no need to include contact details -- student will see these from your profile" %}</li>
    </ul>
  </div>
</div>
