<div class="prose">
  <h4>Few tips to write about yourself:</h4>
  <ul>
    <li>Do you have any <strong>Erasmus dreams</strong>? Mention them!
    <li>You have one <strong>special passion?</strong> Tell us about it!
    <li>You prefer talkative and active buddy with dayily contact? Write it down.
    <li>Or you're not sure about something and just wanna <strong>a few hints</strong>? No problem!
    <li>Please, <strong>do not include</strong> any contact details, neither name nor gender -- age is fine.
  </ul>
</div>
