@tailwind base;
@tailwind components;
@tailwind utilities;

/*

  https://flowbite.com/docs/docs.css?v=1.3.3

*/

.Docs__content img {
    @apply hidden;
}

.Docs__sidebar {
    @apply mt-3;
}

.Docs__sidebar ul {
    @apply space-y-6 lg:space-y-2 border-l border-slate-100 dark:border-slate-800;
}

.Docs__sidebar li a {
    @apply block border-l pl-4 -ml-px border-transparent text-slate-700
    hover:border-slate-400 dark:hover:border-slate-500
    hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300
    ;
    /*@apply block border-l pl-4 -ml-px text-sky-500 border-current font-semibold dark:text-sky-400;*/
}
