@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .Forms__field {
        @apply form-control flex-row md:flex-col;
    }

    .Forms__field--buttons {
        @apply flex flex-row justify-end items-center mt-4;
    }

    .Forms__button {
        @apply btn btn-primary;
    }

    .Forms__button--submit {
        /*@apply ;*/
    }

    .Forms__error_text {
        @apply mt-2 text-sm text-red-600 dark:text-red-500;
    }

    .Forms__input {
        @apply input w-full input-bordered input-secondary;
    }

    .Forms__textarea {
        @apply textarea w-full textarea-bordered textarea-secondary h-auto;
    }

    .Forms__required-note {
        @apply label-text-alt badge badge-accent
    }

    /* standard select */
    .Forms__select {
        @apply select select-bordered select-secondary w-full;
    }

    .Forms__label-widget {
        @apply label;
    }

    .Forms__label {
        @apply label-text;
    }

    .Forms__help_text {
        @apply label-text;
    }

    .Forms__field--error .Forms__input {
        @apply input-error;
    }

    .Forms__field--error .Forms__select {
        @apply select-error;
    }

    .Forms__field--error .Forms__label {
        @apply text-red-700 dark:text-red-500;
    }

    /* FILE INPUT related styles */
    .Forms__field--file .Forms__widget {
        @apply flex flex-col;
    }

    .Forms__file-state {
        /* status located in right */
        @apply
        w-auto self-center border-secondary border-[1px] border-b-0 pl-4 rounded-t
        flex flex-row items-center gap-x-2
        ;

        height: 2em;
        margin-top: -2em;
    }

    .Forms__file-state a {
        /* link to current file */
        @apply btn btn-sm btn-link text-secondary max-w-[5rem] truncate;
    }

    .Forms__file-state input[type=checkbox] {
        /* checkbox to delete file, hidden */
        @apply hidden;
    }

    .Forms__file-state label {
        /* clear btn */
        @apply lowercase btn btn-sm btn-link text-gray-700 rounded-none rounded-tr-sm;
    }

    .Forms__file-state input[type=checkbox]:checked + label {
        /* activate CLEAR btn */
        @apply btn-secondary;
    }

    .Forms__field--file .Forms__file {
        /* file input bordered cover */
        @apply w-full pl-0;
    }

    .Forms__field--file .Forms__file::file-selector-button {
        /* file selector button styled as part of input */
        @apply btn btn-link hover:bg-white hover:border-transparent;
    }

    /* single checkbox */
    .Forms__checkbox:is(input) {
        @apply toggle toggle-lg toggle-secondary mx-auto;
    }

    .Forms__field--checkbox .Forms__widget {
        @apply text-center
    }

    /* checkbox list */
    .Forms__checkbox:not(input) {
        @apply h-auto p-2 pb-0 flex flex-row flex-wrap justify-evenly;
    }

    .Forms__checkbox:not(input) > div {
        @apply flex-shrink-0 w-min mr-1.5 mb-2;
    }

    .Forms__checkbox:not(input) input {
        @apply hidden;
    }

    .Forms__checkbox:not(input) label {
        @apply badge badge-lg badge-outline flex flex-row items-center gap-x-2
        whitespace-nowrap select-none cursor-pointer;
    }

    .Forms__field--disabled .Forms__checkbox:not(input) {
        @apply bg-base-200 border-base-200 !cursor-not-allowed [&_*]:!cursor-not-allowed;
    }

    .Forms__field--disabled .Forms__checkbox:not(input) label {
        @apply opacity-70;
    }

    .Forms__checkbox:not(input) input:checked + label {
        @apply badge-primary
    }

    /* tom select styles */
    .Forms__field--select .ts-wrapper {
        @apply bg-transparent h-auto;
    }

    .Forms__field--select .ts-wrapper.disabled {
        @apply bg-base-200 border-base-200 !cursor-not-allowed [&_*]:!cursor-not-allowed;
    }

    .Forms__field--select .ts-dropdown,
    .Forms__field--select .ts-control,
    .Forms__field--select .ts-control input {
        @apply text-inherit;
    }

    .Forms__field--select .ts-control {
        /* fight versus tom-select styles */
        @apply bg-transparent !border-none p-0 flex flex-row items-center;
    }

    .Forms__field--select .ts-control input {
        @apply focus-visible:outline-0 min-w-[auto]
    }

    .Forms__field--select .ts-control .item {
        @apply text-sm font-bold;
        line-height: 2;
    }

    .Forms__field--select .ts-dropdown {
        /* fight versus tom-select styles */
        @apply rounded shadow-xl -mt-1;
    }

    .Forms__field--select .ts-dropdown .option {
        @apply px-4 py-4
    }
}

/* auto-generated by django, cannot be in component (or it's gonna be striped) */
.Forms__form--basefilterform {
    @apply
        flex flex-col space-y-2 items-start
        md:flex-row md:space-x-2 md:space-y-0
    ;
}

.Forms__form--basefilterform .Forms__select {
    @apply select-sm font-normal;
}

.Forms__form--basefilterform .Forms__input {
    @apply input-sm;
}

.Forms__form--basefilterform .Forms__label-widget {
    @apply pb-1;
}

.Forms__form--basefilterform .Forms__widget {
    @apply flex flex-row items-center space-x-0.5;
}

.Forms__form--basefilterform .Forms__field--buttons {
    @apply self-end;
}

/* all configuration forms rendered */
.Forms__form--basemodelform[class*="configurationform"] {
    @apply flex flex-row flex-wrap;

    .Forms__field {
        @apply w-full md:w-1/2 px-2 flex-col md:flex-col;

        &.Forms__field--buttons {
            @apply w-full flex-row;
        }
    }

    .Forms__label {
        @apply font-bold;
    }
}
