@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .Menu__link {
        @apply
        block py-2 pr-4 pl-3

        text-gray-700 border-b border-gray-100

        hover:bg-gray-50
        md:hover:bg-transparent
        md:border-0
        md:hover:text-primary
        md:p-0;
    }

    .Menu__link--active {
        @apply
        text-white
        bg-primary
        rounded
        md:bg-transparent
        md:text-primary
        ;
    }

}
