@tailwind base;
@tailwind components;
@tailwind utilities;

/*

  https://flowbite.com/docs/docs.css?v=1.3.3

*/


@layer components {

    .Wiki__content {
        @apply
        prose prose-lg
        prose-headings:border-b prose-headings:border-gray-200
        prose-hr:py-0 prose-hr:my-3
        prose-h1:text-4xl prose-h1:pb-1.5
        ;
    }

    .Wiki__content img {

    }

    .Wiki__search-results em {
        @apply bg-primary text-white;
    }

    .Wiki__content img.emoji {
        @apply inline-block my-0 align-text-top;
    }

    .Wiki__content .anchor {
        @apply transition -ml-5 opacity-0 inline-block scroll-mt-6;
    }

    .Wiki__content h1:hover .anchor,
    .Wiki__content h2:hover .anchor,
    .Wiki__content h3:hover .anchor,
    .Wiki__content h4:hover .anchor,
    .Wiki__content h5:hover .anchor,
    .Wiki__content h6:hover .anchor {
        @apply opacity-100;
    }


}

.Wiki__sidebar {
    @apply mt-3 prose prose-sm prose-h2:mt-0 prose-h2:mb-1 prose-img:mx-0;
}

.Wiki__sidebar ul {
    @apply space-y-6 lg:space-y-2 border-l border-slate-100 dark:border-slate-800;
}

.Wiki__sidebar li a {

}

.Wiki__sidebar .Wiki__link-icon {
    @apply hidden
}

/* not present in HTML files, so placed outside layer */
.Wiki__link-icon {
    @apply h-4 w-4 mr-1;
}
