@import 'tom-select/dist/css/tom-select.css';

@import "_Home.css";
@import "_Wiki.css";
@import "_Forms.css";
@import "_Menu.css";
@import "_Tables.css";
@import "_Dashboard.css";
@import "_Flags.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@layer components {
    @keyframes FadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .card-appear {
        animation: 200ms FadeIn ease-in-out;
        /* TODO: make it fine */
    }
}
