{% load user_profile %}
{% load buddy_system %}

{% get_current_buddy_request_of_user as br %}

<div class="Dashboard__tiles">
  <div class="Dashboard__tile Dashboard__tile--dark shadow-2xl bg-primary">
      <div class="Dashboard__tile__title">Buddy System</div>
      {% if not br %}
          <div class="Dashboard__tile__value">✖️ Not requested yet</div>
          <div class="Dashboard__tile__actions text-right">
              <a href="{% url "buddy_system:new-request" %}" class="btn btn-lg btn-outline">create buddy request</a>
          </div>
      {% elif br.state == br.State.CREATED %}
          <div class="Dashboard__tile__value">⌛ Waiting for match</div>
          {% get_waiting_buddy_requests_placed_before br as waiting_total %}
          <div class="Dashboard__tile__desc">
              There is {{ waiting_total }} waiting request{{ waiting_total|pluralize }} before yours.
          </div>
      {% elif br.state == br.State.MATCHED %}
          {% get_user_picture br.matched_by as buddy_picture %}
          {% if buddy_picture %}
          <div class="stat-figure text-secondary">
              <div class="avatar">
                  <div class="w-16 rounded-full">
                      <img
                              src="{{ buddy_picture.url }}"
                              width="{{ buddy_picture.width }}"
                              height="{{ buddy_picture.height }}"
                              alt="Matched buddy picture"
                      />
                  </div>
              </div>
          </div>
          {% endif %}
          <div class="Dashboard__tile__value">✅ Matched</div>
          <div class="Dashboard__tile__desc">
              It's a match!
          </div>
      {% endif %}
  </div>
</div>
