{% extends "fiesta/base.html" %}
{% load i18n %}
{% load breadcrumbs %}

{% block upper_head %}
  {% trans "My Requests" as title %}
  {% breadcrumb_push_item title %}
{% endblock upper_head %}

{% block main %}
  <div class="prose prose-lg">
    <h1>My requests</h1>

{# TODO: ugly    #}

    <table>
      {% for request in requests %}
        <tr>
          <td>{{ request }}</td>
          <td>{{ request.responsible_section }}</td>
          <td>{{ request.created }}</td>
          <td>{{ request.state }}</td>
        </tr>
      {% empty %}
        <tr>
          <td><a href="{% url "buddy_system:new-request" %}">new buddy request</a></td>
        </tr>
      {% endfor %}
    </table>

  </div>
{% endblock %}
