{% extends "fiesta/base.html" %}
{% load breadcrumbs %}
{% load i18n %}

{% block upper_head %}
  {% trans "Matching" as title %}
  {% breadcrumb_push_item title %}
{% endblock upper_head %}


{% block main %}
  <div class="prose prose-lg max-w-none">
    {% for br in object_list %}
      <div class="border-4 rounded-xl border-gray-200 px-2 hover:bg-gray-50 flex flex-row items-center justify-between mb-6">
        <div>
          {% if configuration.display_issuer_picture %}
            <img
              src="{{ br.issuer.profile.picture.url }}"
              alt="" class="rounded-full w-24 h-24 m-8"
            >
          {% else %}
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                 class="rounded-full w-24 h-24 m-8"
                 viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;">
              <path d="M48.014,42.889l-9.553-4.776C37.56,37.662,37,36.756,37,35.748v-3.381c0.229-0.28,0.47-0.599,0.719-0.951
                c1.239-1.75,2.232-3.698,2.954-5.799C42.084,24.97,43,23.575,43,22v-4c0-0.963-0.36-1.896-1-2.625v-5.319
                c0.056-0.55,0.276-3.824-2.092-6.525C37.854,1.188,34.521,0,30,0s-7.854,1.188-9.908,3.53C17.724,6.231,17.944,9.506,18,10.056
                v5.319c-0.64,0.729-1,1.662-1,2.625v4c0,1.217,0.553,2.352,1.497,3.109c0.916,3.627,2.833,6.36,3.503,7.237v3.309
                c0,0.968-0.528,1.856-1.377,2.32l-8.921,4.866C8.801,44.424,7,47.458,7,50.762V54c0,4.746,15.045,6,23,6s23-1.254,23-6v-3.043
                C53,47.519,51.089,44.427,48.014,42.889z"></path>
            </svg>
          {% endif %}
        </div>
        <div class="w-1/3">
          <table>
            {% if configuration.display_issuer_gender %}
              <tr>
                <td>gender</td>
                <td>{{ br.issuer.profile.get_gender_display }}</td>
              </tr>
            {% endif %}
            {% if configuration.display_issuer_faculty %}
              <tr>
                <td>faculty on exchange</td>
                <td>{{ br.issuer.profile.guest_faculty }}</td>
              </tr>
            {% endif %}
            {% if configuration.display_issuer_country %}
              <tr>

                <td>country</td>
                <td>{{ br.issuer.profile.nationality.unicode_flag }} {{ br.issuer.profile.nationality.name }}</td>
              </tr>
            {% endif %}
            {% if configuration.display_issuer_university %}
              <tr>
                <td>home university</td>
                <td>{{ br.issuer.profile.home_university }}</td>
              </tr>
            {% endif %}
          </table>
        </div>
        <div class="flex flex-col">
          <button class="rounded-xl bg-primary font-bold uppercase text-lg text-white p-2">Take</button>

          <span>{{ br.created|date:'DATETIME_FORMAT' }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
