{% extends "fiestarequests/matching_requests.html" %}

{% load buddy_system %}
{% load breadcrumbs %}
{% load i18n %}

{% block request_card_bottom %}
  {% if fr.interests %}
    <hr>
    <div class="flex flex-row flex-wrap justify-between">
      {% for interest in fr.get_interests_display %}
        <span class="badge badge-outline mr-2 mb-2">{{ interest }}</span>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% block request_card_actions %}
  <a class="btn btn-primary"
     href="{% url "buddy_system:match-buddy-request" fr.pk %}"
     x-data="modal($el.href)"
     x-bind="bind">take</a>
{% endblock %}
