{% extends "fiesta/base.html" %}
{% load buddy_system %}

{% load buddy_system %}
{% load breadcrumbs %}
{% load i18n %}

{% block upper_head %}
  {% trans "My Buddies" as title %}
  {% breadcrumb_push_current_plugin %}
  {% breadcrumb_push_item title %}
{% endblock upper_head %}

{% block main %}
  {% for match in object_list.all %}
    {% include "buddy_system/parts/request_match_card.html" with request=match.request title=match.request.issuer.full_name connect_with=match.request.issuer %}
  {% endfor %}
{% endblock %}
