{% extends "fiesta/base.html" %}
{% load breadcrumbs %}
{% load i18n %}

{% block upper_head %}
  {% trans "Wanna have a buddy?" as title %}
  {% breadcrumb_push_item title %}
{% endblock upper_head %}


{% block main %}
  <div class="prose prose-lg mx-auto">
    <h1 class="text-center">Wanna Buddy?</h1>
    <h2 class="text-center">How does it work?</h2>
  </div>

  <section class="text-gray-600 body-font">
    <div class="max-w-2xl mx-auto flex flex-wrap">
      <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto group">
        <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div class="badge badge-primary z-10 group-hover:badge-secondary">1</div>
        <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
          <div
            class="
              flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center
              bg-primary-content text-primary transition-colors
              group-hover:bg-secondary-content group-hover:text-secondary
            ">
            <svg class="w-12 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
            </svg>
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h3 class="font-medium title-font text-gray-900 mb-1 text-xl">Profile in Buena Fiesta</h3>
            <p class="leading-relaxed">
              At first, you'll need to register here and fill information and facts about you.
            </p>
          </div>
        </div>
      </div>
      <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto group">
        <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div class="badge badge-primary z-10 group-hover:badge-secondary">2</div>
        <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
          <div
            class="
              flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center
              bg-primary-content text-primary transition-colors
              group-hover:bg-secondary-content group-hover:text-secondary
            ">
            <svg class="w-12 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M7 11.5V14m0-2.5v-6a1.5 1.5 0 113 0m-3 6a1.5 1.5 0 00-3 0v2a7.5 7.5 0 0015 0v-5a1.5 1.5 0 00-3 0m-6-3V11m0-5.5v-1a1.5 1.5 0 013 0v1m0 0V11m0-5.5a1.5 1.5 0 013 0v3m0 0V11"></path>
            </svg>
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h3 class="font-medium title-font text-gray-900 mb-1 text-xl">Buddy Request</h3>
            <p class="leading-relaxed">
              Create a buddy request, so buddies can see you and take you!
            </p>
          </div>
        </div>
      </div>
      <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto group">
        <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div class="badge badge-primary z-10 group-hover:badge-secondary">3</div>
        <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
          <div
            class="
              flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center
              bg-primary-content text-primary transition-colors
              group-hover:bg-secondary-content group-hover:text-secondary
            ">
            <svg class="w-12 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"></path>
            </svg>
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h3 class="font-medium title-font text-gray-900 mb-1 text-xl">Buddies Magic</h3>
            <p class="leading-relaxed">
              One of our buddies will take your request and you'll be contacted!
            </p>
          </div>
        </div>
      </div>
      <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto group">
        <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div class="badge badge-primary z-10 group-hover:badge-secondary">4</div>
        <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
          <div
            class="
              flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center
              bg-primary-content text-primary transition-colors
              group-hover:bg-secondary-content group-hover:text-secondary
            ">
            <svg class="w-12 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path>
            </svg>
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h3 class="font-medium title-font text-gray-900 mb-1 text-xl">Enjoy your connection</h3>
            <p class="leading-relaxed">
              The best time to go on trip with your buddy, grab a beer or go for a run! Enjoy the time!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="flex flex-row justify-center">
    <a
      href="{{ continue_url }}"
      class="
        btn btn-secondary btn-lg mt-4
      ">
      Let's get the party started!
    </a>
  </div>

{% endblock %}
