{% load esncards %}
{% get_current_esncard_application_of_user as application %}
<div class="stat">
  <div class="stat-title">ESNcard Application</div>
{#  <div class="stat-figure text-secondary">#}
{#    <div class="avatar online">#}
{#      <div class="w-16 rounded-full">#}
{#        <img src="https://placeimg.com/128/128/people"/>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
  <div class="stat-value">✅ {{ application.get_state_display }}</div>
{#  <div class="stat-desc text-secondary">Waiting </div>#}
</div>
