{% extends "fiesta/base.html" %}

{% block main %}
  <div class="flex flex-col sm:flex-row sm:items-center items-start mx-auto py-24">
    <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">
      Discounts at local partners, <br>
      bonuses from global players, <br>
      and cheaper ESN events?
    </h1>
    <a class="flex-shrink-0 text-white bg-primary border-0 py-2 px-8 focus:outline-none
            hover:bg-rose-700 transition rounded text-lg mt-10 sm:mt-0"
       href="{% url "esncards:application_create_form" %}"
    >
      Apply for ESNcard
    </a>
  </div>

  {% if applications.exists %}
    <div class="p-4 max-w-md bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700 mx-auto">
      <div class="flex justify-between items-center mb-4">
        <h3 class="text-xl font-bold leading-none text-gray-900 dark:text-white">My ESNcard Applications</h3>
      </div>
      <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          {% for application in applications %}
            <li class="py-3 sm:py-4">
              <a class="flex items-center space-x-4"
                 href="{% url "esncards:application_detail" application.pk %}">
                <div class="flex-shrink-0">
                  <img class="w-8 h-8 rounded-full"
                       src="{{ application.holder_photo.url }}"
                       alt="Neil image">
                </div>
                <div class="flex-1 min-w-0">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    {{ application.first_name }}
                    {{ application.last_name }}
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                    {{ application.created|date }}
                  </p>
                </div>
                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                  {{ application.get_state_display }}
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  {% endif %}
{% endblock %}
