{% extends "fiesta/base.html" %}

{% load static %}

{% block main %}
  <section class="bg-white dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-7">
        <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
          ESNcard, Your Access to Infinity
        </h1>
        <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
          ESNcard is a valuable tool that gives you access to an infinite range of discounts and opportunities for
          travel, accommodation, entertainment, and cultural activities, as well as a vibrant community of international
          students.
        </p>
        <a href="{% url "esncards:application_create_form" %}"
           class="btn btn-primary btn-lg">Apply for ESNcard</a>
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
        <img src="{% static "esncards/savings.svg" %}" alt="mockup">
      </div>
    </div>
  </section>
  {% if applications.exists %}
    <div class="p-4 max-w-md bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700 mx-auto">
      <div class="flex justify-between items-center mb-4">
        <h3 class="text-xl font-bold leading-none text-gray-900 dark:text-white">My ESNcard Applications</h3>
      </div>
      <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          {% for application in applications %}
            <li class="py-3 sm:py-4">
              <a class="flex items-center space-x-4"
                 href="{% url "esncards:application_detail" application.pk %}">
                <div class="flex-shrink-0">
                  <img class="w-8 h-8 rounded-full"
                       src="{{ application.holder_photo.url }}"
                       alt="Neil image">
                </div>
                <div class="flex-1 min-w-0">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    {{ application.first_name }}
                    {{ application.last_name }}
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">{{ application.created|date }}</p>
                </div>
                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                  {{ application.get_state_display }}
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endblock %}
