{% load i18n %}

<form method="post" hx-post="{{ request.path }}" hx-swap="outerHTML">
  <h2 class="text-2xl">{% trans "New Export" %}</h2>

  <div class="font-mono columns-md gap-8">
    {% for application in applications %}
      <span class="w-full">{{ application.last_name }} {{ application.first_name }}</span>
    {% endfor %}
  </div>

  {% csrf_token %}
  {{ form }}

  <div class="Forms__field Forms__field--buttons space-x-4">
    <div class="alert alert-info">
      All listed applications will be accepted and a printing materials will be generated.
    </div>
  </div>
</form>
