{% load i18n %}
{% load user_profile %}
{% load utils %}
<div class="Dashboard__tiles">
  <div class="Dashboard__tile Dashboard__tile--dark shadow-2xl bg-gray-900 aspect-square">
    <div class="Dashboard__tile__title text-white">{% blocktrans %}My Profile{% endblocktrans %}</div>
    {% compute_profile_fullness user as fullness %}
    {% interpolate_to_list fullness "text-red-400" "text-orange-400" "text-blue-400" "text-lime-400" as color %}
    <div class="flex justify-center items-center my-4">
      <div class="radial-progress {{ color }}"
           style="--value:{{ fullness|multiply:100 }};
                  --size: 18rem;
                  --thickness: 2rem">
        <div class="text-white flex flex-col items-center">
          <span class="text-4xl lg:text-7xl font-bold">{{ fullness|multiply:100|int }}%</span>
          <span class="text">complete</span>
        </div>
      </div>
    </div>
    <div class="Dashboard__tile__actions text-right">
      <a href="{% url "accounts:my-profile-update" %}"
         class="btn btn-lg btn-primary btn-outline">{% blocktrans %}fill profile{% endblocktrans %}</a>
    </div>
  </div>
</div>
