{% load django_tables2 %}
<div hx-boost="true"
     hx-target="#table-{{ table.prefix|default:'default' }}"
     hx-swap="outerHTML focus-scroll:false"
     id="table-{{ table.prefix|default:'default' }}"
     x-data>
  <div x-data
       x-cloak
       x-collapse
       x-show="$store.tableControls.shown"
       class="flex flex-col lg:flex-row justify-between items-end gap-2 pb-4">
    <form
      hx-get="{{ request.path }}"
      hx-vals='{"page": ""}'
      hx-push-url="true"
      {# alpine js store defined in src/filter.js #}
      x-ref="filterForm"
      @change="htmx.trigger($refs.filterForm, 'submit')"
      class="flex-grow"
      >
      {{ filter.form }}
    </form>
    {% if view.export_formats %}
      <div class="btn-group self-end min-w-max" role="group">
        {% for format in view.export_formats %}
          <a type="button"
             href="{% export_url format %}"
             download
             target="_blank"
             class="btn btn-outline btn-sm">{{ format|upper }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <div>{% render_table table %}</div>
  {# notify alpine store about activated filter #}
  {# cannot use <script> since we are in the middle of page #}
  <div x-init="Alpine.store('tableControls').isFilterActive = {{ filter.form.is_bound|lower }}"></div>

  {% if request.htmx %}
    {% include "fiesta/parts/messages.html" %}
  {% endif %}
</div>
