{% load django_tables2 %}

<div
  hx-boost="true"
  hx-target="#table-{{ table.prefix|default:'default' }}"
  id="table-{{ table.prefix|default:'default' }}"
>
  <div
    x-data x-cloak
    x-show="$store.tableControls.shown"
    class="flex flex-col lg:flex-row gap-2"
  >
    <form
      hx-get="{{ request.path }}"
      hx-vals='{"page": ""}'
      hx-push-url="true"
      {# alpine js store defined in src/filter.js #}
      x-ref="filterForm"
      @change="htmx.trigger($refs.filterForm, 'submit')"
      class="flex-grow"
    >
      {{ filter.form }}
    </form>
    {% if view.export_formats %}
      <div class="inline-flex items-end justify-end mb-3 flex-grow-0 pr-px" role="group">
        <button
          type="button" disabled
          class="
          inline-flex items-center py-2 px-4 text-sm font-medium text-gray-900 bg-white
          rounded-l-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
        >
          <svg aria-hidden="true" class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z"
                  clip-rule="evenodd"></path>
          </svg>
        </button>
        {% for format in view.export_formats %}
          <a type="button" href="{% export_url format %}" download target="_blank"
             class="
             inline-flex items-center py-1.5 px-4 text-sm font-medium text-gray-900 bg-white
             border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10
             focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700
             dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600
             dark:focus:ring-blue-500 dark:focus:text-white
             last:rounded-r-lg
          "
          >
            {{ format|upper }}
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div>
    {% render_table table %}
  </div>

  {# notify alpine store about activated filter #}
  <script>
      Alpine.store('tableControls').isFilterActive = {{ filter.form.is_bound|lower }};
  </script>
</div>
