<div class="prose max-w-none">
  <h4>What place is expected here?</h4>
  <ul>
    <li>Consider the distance between pickup place and your final mobility destination.</li>
    <li>Members are volunteers and do pickups in free time – be wise how distant place you'll pick for your pickup.</li>
    <li>Completely fine is to arrive at the closest transportation hub, e.g. local airport, train or bus station.</li>
    <li>If you have any doubts about final transportation choices, mention them. Our member will assist you.</li>
  </ul>
</div>
