{% load i18n %}

{% include "fiestarequests/available_contacts_row.html" with user=request.issuer %}

<div class="collapse collapse-arrow bg-base-200 w-full flex-grow mt-2">
  <input type="checkbox" />
  <label class="collapse-title text-lg font-medium  ">{% translate 'What to include in message?' %}</label>
  <div class="collapse-content">
    <ul class="list-disc pl-4">
      <li>{% translate 'Through which platform you will contact him/her' %}</li>
      <li>{% translate "Answer any questions our doubts placed in request message" %}</li>
    </ul>
  </div>
</div>
