{% load i18n %}
<div class="Dashboard__tiles flex flex-col md:flex-row">
  <div class="Dashboard__tile Dashboard__tile--dark shadow-2xl bg-primary">
    <div class="Dashboard__tile__title">Your Events</div>
    {% if request.membership.is_international %}


    <div class="Dashboard__tile__value">
      {% for participating in participations %}
      <div>
        <a href="{% url " events:event-detail" participating.event.id %}">
        <span class="text-3xl">{{ participating.event.title }}</span>
        <span class="text-lg text-gray-300">{{ participating.event.start }}</span>
        </a>
      </div>
      {% endfor %}
    </div>

    {% else %}
    <div class="Dashboard__tile__value">
      {% for event in request.user.events.all %}
      <div>
        <a href="{% url " events:event-detail" event.id %}">
        <span class="text-3xl">{{ event.title }}</span>
        <span class="text-lg text-gray-300">{{ event.start }}</span>
        </a>
      </div>
      {% endfor %}
    </div>

    <div class="Dashboard__tile__actions text-right">
      <a href="{% url " events:add-event" %}"
      class="btn btn-lg btn-outline">Create new event</a>
    </div>
    {% endif %}

  </div>
</div>
