{% extends "fiesta/base.html" %}

{% load event_tags %}
{% load user_profile %}
{% load utils %}
{% load breadcrumbs %}
{% load i18n %}

{% block head %}
{{form.media}}
{% endblock %}

{% block main %}

{% can_edit event as rights %}
{% if rights  or request.membership.is_privileged %}

<div class="card rounded-lg bg-base-100 text-left shadow-xl">

  <div class="card-body">

    <h1 class="card-title text-base-content"> Prices </h1>

    {% get_price_variants event as prices %}
    {% if prices %}

    <div class="flex max-[950px]:flex-col">
      {% for price in prices %}
      
        <div id="price-{{ price.pk }}" class="card rounded-lg bg-base-100 text-left shadow mx-6 hover:bg-base-200">
          <div class="card-body flex-auto flex grid grid-rows-2 grid-cols-2 gap-0 w-2/7 text-left ">
            <h2 class="card-title text-base-content row-start-1">{{ price.title }}</h2>

            <div class="flex flex-col row-start-2">
              <p class="col-start-1">{{ price.type }}</p>
              <p class="col-start-1">{{ price.amount }}</p>
            </div>

            <div class="card-actions justify-end row-start-1">
              <a
              href="{% url "events:price-update" event.pk price.pk %}"
              x-data="modal($el.href)"
              x-bind="bind">         
                <svg class="h-8 w-8 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                </svg>
              </a>

              <a href="#" 
              hx-post="{% url "events:price-delete" event.pk price.pk %}"
              hx-confirm="Are you sure you want to delete this price?"
              hx-target="#price-{{ price.pk }}"
              hx-swap="outerHTML">  
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      
      {% endfor %}
    </div>
    {% endif %}

    <div class="card-actions justify-end">
      <a class="btn btn-primary btn-outline"
      href="{% url "events:price" event.pk %}"
      x-data="modal($el.href)"
      x-bind="bind">{% translate "Add price" %}</a>  
    </div>
  </div>
</div>


<div class="card rounded-lg bg-base-100 text-left shadow-xl mt-6">

  <div class="card-body">

  <h1 class="card-title text-base-content"> Organizers </h1>

  {% if event.event_organizers.all %}
    <div class="card rounded-lg bg-base-100 text-left shadow">
      <ul class="card-body text-base-content">
        {% for oc in event.event_organizers.all %}
        <li class="flex" id="oc-{{oc.pk}}">
          {% get_user_picture oc.user as picture %}

            <a href="#" class="flex flex-auto items-center px-4 py-2 hover:bg-base-200">
              {% if picture %}
              <div class="w-6 h-6 me-2 rounded-full bg-cover bg-center"
              style='background-image: url("{{ picture.url }}")'></div>
              {% else %}
              <span class="w-6 h-6 me-2 avatar aspect-square rounded-full text-white text-lg flex flex-row justify-center items-center"
              style="background-color: {{ oc.user.id|get_color_by_text }}">{{ oc.user.first_name|first }}{{ oc.user.last_name|first }}</span>
              {% endif %}
              {{oc.user.first_name}} {{oc.user.last_name}}
            </a>

          <div class="card-actions justify-end">

          <select class="select select-bordered max-w-xs" name="role"  hx-post="{% url 'events:role-change' pk=event.pk pko=oc.pk %}" hx-trigger="change" hx-swap="none">
              {% for role_value, role_display in organizer_roles %}
                  <option value="{{ role_value }}" {% if oc.role == role_value %}selected{% endif %}>
                      {{ role_display }}
                  </option>
              {% endfor %}
          </select>

          <a href="#" 
          class="pl-6"
          hx-post="{% url "events:organizer-delete" event.pk oc.pk %}"
          hx-confirm="Are you sure you want to delete this price?"
          hx-target="#oc-{{ oc.pk }}"
          hx-swap="delete">  
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </a>

          </div>

        </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class="card-actions justify-end">
    <a class="btn btn-primary btn-outline"
    x-data="modal($el.href)"
    x-bind="bind"
    href="{% url "events:organizer-add" event.pk%}">{% trans "Add organizer" %}</a>
  </div>
  </div>
</div>

{% can_edit event as bool %}
{% if bool %}
<div class="card rounded-lg bg-base-100 text-left shadow-xl mt-6 mb-6">
  <div class="card-body">
  <h1 class="card-title text-base-content"> Event </h1>
    <div class="card-actions justify-end">
      <a href="{% url "events:participants" event.id %}" class="btn btn-primary btn-outline">{% translate "Show participants" %}</a>
      <a href="{% url "events:event-update" event.id %}" class="btn btn-warning btn-outline">{% translate "Update event" %}</a> 
      <form action="{% url "events:event-delete" event.id %}" method="post" hx-confirm="Are you sure you want to delete the event ?">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-outline" >{% translate "Delete event" %}</button>
      </form>
    </div>
  </div>
</div>
{% endif %}




{%endif%}

<div class="md:flex lg:grid sm:flex grid-rows-2 grid-cols-2 grid-flow-row flex-wrap gap-0 max-lg:hidden pt-6">
  <div class="card row-span-2 w-full lg:ml-[50px] max-lg:hidden">
    <div class="card-body h-full rounded-lg bg-base-100 text-left shadow-xl lg:pr-12">


        <h1 class="card-title text-base-content">{{ event.title }}</h1>

        <p class="text-base-content font-normal text-[#b3b3b3] text-[15px] tracking-[0] leading-[normal] pb-4"> {{ event.subtitle }} </p>
          Capacity: {{ event.participants.all|length}}/{{ event.capacity }}<br>
          When: {{ event.start.date }}<br>
          Start: {{ event.start.time }} at {{ event.place }}<br>
          {% if event.end != None %}
            End:{{ event.end }}<br>
          {% endif %}
          
          <div class="flex grid">
          {% get_price_variants event as prices %}
            {% if prices is not None %}
              {% for price in prices %}

                {% if price.type == "free" %}
                
                <p>Free</p>
                {% elif request.user.is_esn_car_holder and price.type == "with_esn_card" %}
                <p>Your price with ESNcard: {{ price.amount }}</p>
                {% elif price.type == "standard"%}
                <p>Your price: {{ price.amount }}</p>
                {% for price in prices %} {% if price.type == "with_esn_card" %} You can pay only this price if you get our ESNcard: {{ price.amount }} {%endif%} {%endfor%}</p>
                
                {% endif %}
              {% endfor %}
            {% endif %}
          </div> 
          <p class="text-base-content font-semibold  text-[15px] tracking-[0] leading-[normal] pb-1">Description:</p>
          <p class="pl-2">{{ event.description }}</p>

          
          {% if request.membership.is_international %}
          <a class="btn btn-primary btn-outline"
          hx-post="{% url "events:event-register" event.pk %}"
          hx-target="#response"
          hx-indicator="#loading"
          hx-swap="outerHTML">  
          {%translate "Register"%}
          </a>
          <div id="response"></div>
          {% endif %}

        
    </div>
  </div>


    {% if event.landscape_cover.url != '' %} <!-- TODO - if there is no photo -->
    <div class=" z-[10] md:mb-12 w-full shrink-0 grow-0 basis-auto max-lg:hidden">
      <div class="lg:py-12">
        {% if event.landscape_cover %}
        <img src="{{ event.landscape_cover.url }}"
          class="z-[10] w-full rounded-lg shadow-lg dark:shadow-black/20" alt="image" />
        {%endif%}
      </div>
    </div>
    {% endif %}

    <div class="z-[10] mt-12 w-full shrink-0 grow-0 basis-auto lg:mb-0 max-lg:hidden">
        <div class="lg:py-12" x-data="mapWidget({ latitude: {{event.place.latitude}}, longitude: {{event.place.longitude}} })" x-init="init">
          <iframe x-bind:src="mapUrl" class="z-[10] w-full h-80 rounded-lg shadow-lg dark:shadow-black/20" ></iframe>
        </div>
    </div>
  </div>


  <div class="card bg-base-100 shadow-xl lg:hidden md:block ">

    {% if event.landscape_cover.url != '' %} <!-- TODO - if there is no photo -->
    <div class="flex z-[10] w-full shrink-0 grow-0 basis-auto lg:hidden md:block">
        {% if event.landscape_cover %}
        <img src="{{ event.landscape_cover.url }}"
          class="z-[10] w-full rounded-t-lg shadow-lg " alt="image" />
        {%endif%}
    </div>
    {% endif %}

    <div class="card-body w-full shrink-0 grow-0 basis-auto lg:hidden md:block">

        <h1 class="card-title text-base-content">{{ event.title }}</h1>

        <p class="text-base-content font-normal text-[#b3b3b3] text-[15px] tracking-[0] leading-[normal] pb-4"> {{ event.subtitle }} </p>
          Capacity: {{ event.participants.all|length}}/{{ event.capacity }}<br>
          When: {{ event.start.date }}<br>
          Start: {{ event.start.time }} at {{ event.place }}<br>
          {% if event.end != None %}
            End:{{ event.end }}<br>
          {% endif %}
         
          <p class="text-base-content font-semibold  text-[15px] tracking-[0] leading-[normal] pb-1">Description:</p>
          <p class="pl-2">{{ event.description }}</p>


          {% if request.membership.is_international %}
            <a class="btn btn-primary btn-outline"
            hx-post="{% url "events:event-register" event.pk %}"
            hx-target="#response"
            hx-indicator="#loading"
            hx-swap="outerHTML">  
            {%translate "Register"%}
            </a>
            <div id="response"></div>
          {% endif %}

      
    </div>


    <div class=" mt-12 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:hidden md:block">
        <div class="lg:py-12" x-data="mapWidget({ latitude: {{event.place.latitude}}, longitude: {{event.place.longitude}} })" x-init="init">
          <iframe x-bind:src="mapUrl" class="z-[10] w-full h-80 rounded-b-lg shadow-lg dark:shadow-black/20" ></iframe>
        </div>
    </div>

  </div>

{% endblock main %}

