{% extends "fiesta/base.html" %}
{% load breadcrumbs %}
{% load i18n %}
{% load event_tags %}
{% block main %}

{% if users_events %}
<div class="container">
  <h1 class="text-xl font-semibold text-base-content mb-6 border-b-2">Your events</h1>
  <ul>
    {% for event in users_events %}

      {% include "events/parts/event_item.html"%}

    {% endfor %}
  </ul>
</div>
{%endif%}

<div class="container">
  <h1 class="text-xl font-semibold text-base-content mb-6 border-b-2">Upcoming Events</h1>
  <ul>
    <!-- Event Item -->
    {% for event in upcoming_events %}
    
      {% include "events/parts/event_item.html" %}

    {% endfor %}
  </ul>
</div>

{% if request.membership.is_privileged %}
<div class="container">
  <h1 class="text-xl font-semibold text-base-content mb-6 border-b-2">Waiting confirmation</h1>
  <ul>
    <!-- Event Item -->
    {% for event in darft_events %}

      {% include "events/parts/event_item.html" %}

    {% endfor %}
  </ul>
</div>
{% endif %}



<!-- Only allow adding of events to members and admins -->
{% if not request.membership.is_international %}
<button class="btn btn-primary btn-outline grow"><a href="{% url "events:add-event" %}">Add event</a></button>
<button class="btn btn-primary btn-outline grow"><a href="{% url "events:place" %}">Places</a></button>
{% endif %}

{% endblock %}
