{% extends "fiesta/base.html" %}
{% load breadcrumbs %}
{% load i18n %}
{% load event_tags %}
{% block main %}

<div class="container mx-auto p-6">
  <h1 class="text-3xl font-semibold mb-4">Your events</h1>
  <ul class="divide-y divide-gray-300">
    {% for event in users_events %}

      {% include "events/parts/event_item.html"%}

    {% endfor %}
  </ul>
</div>

<div class="container mx-auto p-6">
  <h1 class="text-3xl font-semibold mb-4">Upcoming Events of {{ request.in_space_of_section }}</h1>
  <ul class="divide-y divide-gray-300" id="events-list" >
    <!-- Event Item -->
    {% for event in upcoming_events %}
    
      {% include "events/parts/event_item.html" %}

    {% endfor %}
  </ul>
</div>

{% if request.membership.is_privileged %}
<div class="container mx-auto p-6">
  <h1 class="text-3xl font-semibold mb-4">Waiting confirmation</h1>
  <ul class="divide-y divide-gray-300" >
    <!-- Event Item -->
    {% for event in darft_events %}

      {% include "events/parts/event_item.html" %}

    {% endfor %}
  </ul>
</div>
{% endif %}



<!-- Only allow adding of events to members and admins -->
{% if not request.membership.is_international %}
<button class="btn btn-primary btn-outline grow"><a href="{% url "events:add-event" %}">Add event</a></button>
<button class="btn btn-primary btn-outline grow"><a href="{% url "events:place" %}">Places</a></button>
{% endif %}

{% endblock %}
