{% load i18n %}
{% load fiestaforms %}
<div class="Forms__field
            {% if errors %}Forms__field--error{% endif %}
            {% if bf.field.disabled %}Forms__field--disabled{% endif %}
            {{ bf|field_modifier }}">
  <div class="Forms__label-widget Forms__label-widget--top">
    {{ bf|as_label }}
    {% if bf.field.required and not bf.field.disabled %}
      <span class="Forms__required-note">{% trans "Required" %}</span>
    {% endif %}
  </div>
  <div class="Forms__widget">{{ bf|as_widget_field }}</div>
  {% if bf.help_text %}
    <div class="Forms__label-widget Forms__label-widget--bottom">
      <div class="Forms__help_text">{{ bf.help_text|safe }}</div>
    </div>
  {% endif %}
  {% if errors %}<div class="Forms__error_text">{{ errors }}</div>{% endif %}
</div>
