{% load i18n %}
{% load fiestaforms %}
<div class="Forms__field{% if errors %} Forms__field--error{% endif %} ">
    {% if bf.field.required and not bf.field.disabled %}
        <span class="bg-gray-100 text-gray-600 text-xs px-2.5 py-0.5 rounded dark:bg-gray-700
            dark:text-gray-300 float-right font-light">{% trans "Required" %}</span>
    {% endif %}

    {{ bf|as_label }}
    {{ bf|as_widget_field }}

    {% if errors %}
        <div class="Forms__error_text">{{ errors }}</div>
    {% endif %}

    {% if bf.help_text %}
        <p class="Forms__help_text">{{ bf.help_text }}</p>
    {% endif %}
</div>