{% extends "esncards/application-timeline/base.html" %}

{% block content %}
  User {{ application.user.get_full_name }} created application for ESNcard.
{% endblock content %}

{% block extracontent %}
  <div class="flex justify-center items-enter w-full">
    <div class="w-1/2">
      {% include "esncards/esn-card-template.svg" with name=application.holder_full_name nationality=application.nationality.name section=application.section university=application.university.name birth_date=application.birth_date|date:"d.m.y" valid_since=application.created|date:"d.m.y" photo_url=application.holder_photo.url css_class="transition group-hover:blur-sm w-full rounded-xl" %}
    </div>
  </div>
{% endblock extracontent %}
