{% extends "accounts/user_profile/base.html" %}

{% load breadcrumbs %}
{% load i18n %}
{% load fiestaforms %}
{% load socialaccount %}

{% block upper_head %}
  {{ block.super }}
  {% trans "E-mail Addresses" as title %}
  {% breadcrumb_push_item title %}
{% endblock upper_head %}

{% block content %}
  <h1 class="card-title">{% trans "E-mail Addresses" %}</h1>
  {% if user.emailaddress_set.all %}
    <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>
    <form action="{% url 'account_email' %}"
          class="{{ form|get_form_classes }}"
          method="post">
      {% csrf_token %}
      <table class="table table-compact mx-auto">
        {% for emailaddress in user.emailaddress_set.all %}
          <tr>
            <td>
              <label for="email_radio_{{ forloop.counter }}"
                     class="flex flex-row items-center gap-x-2
                            {% if emailaddress.primary %}text-secondary{% endif %}">
                <input id="email_radio_{{ forloop.counter }}"
                       type="radio"
                       name="email"
                       class="radio radio-xs"
                       {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{% endif %}
                       value="{{ emailaddress.email }}"/>
                {{ emailaddress.email }}
              </label>
            </td>
            <td>
              {% if emailaddress.verified %}
                <span class="badge badge-success">{% trans "Verified" %}</span>
              {% else %}
                <span class="badge badge-warning">{% trans "Unverified" %}</span>
              {% endif %}
              {% if emailaddress.primary %}
                <span class="badge badge-secondary">{% trans "Primary" %}</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
      <div class="Forms__field Forms__field--buttons btn-group">
        <button class="btn btn-sm btn-secondary" type="submit" name="action_primary">{% trans 'Make Primary' %}</button>
        <button class="btn btn-sm btn-warning" type="submit" name="action_send">{% trans 'Re-send Verification' %}</button>
        <button class="btn btn-sm btn-primary" type="submit" name="action_remove">{% trans 'Remove' %}</button>
      </div>
    </form>
  {% else %}
    <p class="my-2">
      <strong>{% trans 'Warning:' %}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
    </p>
  {% endif %}
  {% if can_add_email %}
    <hr>
    <h2 class="card-title">{% trans "Add New E-mail Address" %}</h2>
    <form method="post"
          action="{% url 'account_email' %}"
          class="{{ form|get_form_classes }}">
      {% csrf_token %}
      {% include "fiestaforms/parts/errors.html" with errors=form.non_field_errors %}
      {% include "fiestaforms/parts/field.html" with bf=form.email errors=form.errors.email %}
      <div class="Forms__field Forms__field--buttons">
        <button name="action_add" type="submit" class="btn btn-primary">{% trans "Add E-mail" %}</button>
      </div>
    </form>
  {% endif %}
  <script type="text/javascript">
      (function () {
          var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
          var actions = document.getElementsByName('action_remove');
          if (actions.length) {
              actions[0].addEventListener("click", function (e) {
                  if (!confirm(message)) {
                      e.preventDefault();
                  }
              });
          }
      })();
  </script>
{% endblock %}
