{% extends "fiesta/base-variants/middle-card.html" %}
{% load breadcrumbs %}
{% load i18n %}
{% load fiestaforms %}
{% load socialaccount %}

{% block upper_head %}
  {% trans "Password Reset" as title %}
  {% breadcrumb_push_item title %}
{% endblock upper_head %}

{% block breadcrumbs_container %}{% endblock breadcrumbs_container %}

{% block card_body %}
  <h1 class="card-title">{% trans "Password Reset" %}</h1>

  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p class="alert alert-info">
    {% blocktrans %}
      We have e-mailed you. Please contact us if you do not receive it within a few minutes.
    {% endblocktrans %}</p>
{% endblock %}
