{% extends "fiesta/base-variants/center-card-sm.html" %}

{% load breadcrumbs %}
{% load i18n %}
{% load fiestaforms %}
{% load socialaccount %}

{% block upper_head %}
  {% trans "Password Reset" as title %}
  {% breadcrumb_push_item title %}
{% endblock upper_head %}

{% block breadcrumbs_container %}
{% endblock breadcrumbs_container %}

{% block card_body %}
  <h1 class="card-title">
    {% if token_fail %}
      {% trans "Bad Token" %}
    {% else %}
      {% trans "Change Password" %}
    {% endif %}
  </h1>
  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>
      {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please
      request a <a class="link link-primary" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
    </p>
  {% else %}
    {% if form %}
      <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {% include "fiestaforms/parts/errors.html" with errors=form.non_field_errors %}
        {% include "fiestaforms/parts/field.html" with bf=form.password1 errors=form.errors.password1 %}
        {% include "fiestaforms/parts/field.html" with bf=form.password2 errors=form.errors.password2 %}
        <div class="Forms__field Forms__field--buttons">
          <input class="btn btn-block btn-primary"
                 type="submit"
                 name="action"
                 value="{% trans 'change password' %}"/>
        </div>
      </form>
    {% else %}
      <p>{% trans 'Your password is now changed.' %}</p>
    {% endif %}
  {% endif %}
{% endblock %}
