{% extends "accounts/user_profile/base.html" %}

{% load breadcrumbs %}
{% load i18n %}
{% load fiestaforms %}
{% load socialaccount %}

{% block upper_head %}
  {{ block.super }}
  {% trans "Change Password" as title %}
  {% breadcrumb_push_item title %}
{% endblock upper_head %}

{% block content %}
  <h1 class="card-title">Change Password</h1>
  <form method="POST"
        action="{% url 'account_change_password' %}"
        class="space-y-4 {{ form|get_form_classes }}">
    {% csrf_token %}
    {% include "fiestaforms/parts/errors.html" with errors=form.non_field_errors %}
    {% if redirect_field_value %}
      <input type="hidden"
             name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}" />
    {% endif %}
    {% include "fiestaforms/parts/field.html" with bf=form.oldpassword errors=form.errors.oldpassword %}
    <div class="flex flex-row justify-end">
      <a href="{% url 'account_reset_password' %}"
         class="btn btn-sm btn-info btn-outline">Forgot Password?</a>
    </div>
    {% include "fiestaforms/parts/field.html" with bf=form.password1 errors=form.errors.password2 %}
    {% include "fiestaforms/parts/field.html" with bf=form.password2 errors=form.errors.password1 %}
    <button type="submit" class="btn btn-primary btn-block">Change Password</button>
  </form>
{% endblock %}
