{% extends "fiesta/base-variants/center-card-sm.html" %}

{% load breadcrumbs %}
{% load i18n %}
{% load fiestaforms %}
{% load socialaccount %}

{% block upper_head %}
  {% trans "Password Reset" as title %}
  {% breadcrumb_push_item title %}
{% endblock upper_head %}

{% block breadcrumbs_container %}
{% endblock breadcrumbs_container %}

{% block card_body %}
  <h1 class="card-title">Password Reset</h1>
  <form method="POST"
        action="{% url 'account_reset_password' %}"
        class="space-y-4 {{ form|get_form_classes }}">
    {% csrf_token %}
    {% if request.user.is_authenticated %}
      <div class="alert alert-info" role="alert">
        <svg class="mr-3 w-5 h-5"
             fill="currentColor"
             viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd">
          </path>
        </svg>
        <div>
          <span class="font-medium">Note:</span>
          you are already logged in as {{ request.user }}.
        </div>
      </div>
    {% endif %}
    <p class="text-gray-800">
      Forgotten your password? Enter your e-mail address below, and we'll
      e-mail you allowing you to reset it.
    </p>
    {% include "fiestaforms/parts/errors.html" with errors=form.non_field_errors %}
    {% if redirect_field_value %}
      <input type="hidden"
             name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}" />
    {% endif %}
    {% include "fiestaforms/parts/field.html" with bf=form.email errors=form.errors.email %}
    <button type="submit" class="btn btn-primary btn-block">Reset My Password</button>
    <p class="text-sm text-gray-800">Please contact us if you have any trouble resetting your password.</p>
  </form>
{% endblock %}
