{% extends "accounts/user_profile/base.html" %}

{% load breadcrumbs %}
{% load i18n %}
{% load fiestaforms %}
{% load socialaccount %}

{% block upper_head %}
  {{ block.super }}
  {% trans "Set Password" as title %}
  {% breadcrumb_push_item title %}
{% endblock upper_head %}

{% block content %}
  <h1 class="card-title">Set Password</h1>
  <form method="POST"
        action="{% url 'account_set_password' %}"
        class="space-y-4 {{ form|get_form_classes }}">
    {% csrf_token %}
    {% include "fiestaforms/parts/errors.html" with errors=form.non_field_errors %}
    {% if redirect_field_value %}
      <input type="hidden"
             name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}" />
    {% endif %}
    <p class="text-base-content">
      You don't have set any usable password, since you were probably logged via social accounts.
      Use this form to set up your password.
    </p>
    {% include "fiestaforms/parts/field.html" with bf=form.password1 errors=form.errors.password1 %}
    {% include "fiestaforms/parts/field.html" with bf=form.password2 errors=form.errors.password2 %}
    <button type="submit" class="btn btn-primary btn-block">Set New Password</button>
  </form>
{% endblock %}
