{% load utils %}
{% load breadcrumbs %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load django_htmx %}
<!DOCTYPE html>
<html {# not really sure about alpining all the body...  #}
  lang="en" class="scroll-smooth"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1,width=device-width">
  {% block upper_head %}{% endblock upper_head %}

  {% block head_title %}
    {% breadcrumb_items as items %}
    {% if items|length_is:0 %}
      <title>Buena Fiesta</title>
    {% else %}
      <title>{{ items|join_breadcrumbs }} · Buena Fiesta</title>
    {% endif %}
  {% endblock head_title %}

  <link rel="shortcut icon" href="{% static 'logo.svg' %}"/>

  {% render_bundle 'main' 'js' attrs='defer' %}
  {% render_bundle 'main' 'css' %}

  {% django_htmx_script %}
</head>
<body
  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
  hx-ext="preload"
  class="overflow-y-scroll
        flex flex-col justify-between min-h-screen box-border
        selection:bg-primary selection:text-white"
  {% block body_attrs %}{% endblock body_attrs %}
>
{% block body %}
  {% include "fiesta/parts/messages.html" %}
  <div class="sticky top-0 z-20 bg-white dark:bg-base-300">
    <header class="max-w-4xl xl:max-w-5xl 2xl:max-w-6xl mx-auto w-full px-4 sm:px-2">
      {% block header_container %}
        {% include "fiesta/parts/header.html" %}
      {% endblock header_container %}
    </header>

    {% block breadcrumbs_container %}
      <div class="
        max-w-4xl xl:max-w-5xl 2xl:max-w-6xl mx-auto w-full flex flex-rox justify-between items-center
        px-4 sm:px-2
      ">
        {% include "fiesta/parts/breadcrumbs.html" %}
        {% block breadcrumbs_right %}{% endblock breadcrumbs_right %}
      </div>

      <div class="border border-gray-50"></div>
    {% endblock breadcrumbs_container %}
  </div>

  {% block main_container %}
    <div class="max-w-4xl xl:max-w-5xl 2xl:max-w-6xl mx-auto mb-auto w-full">
      {% block main_columns %}
        <main class="p-2 pb-4">
          {% block main %}{% endblock main %}
        </main>
        {% block main_right %}{% endblock main_right %}
      {% endblock %}
    </div>
  {% endblock main_container %}

  {% block upper_footer %}{% endblock upper_footer %}

  <div class="border border-gray-50"></div>

  {% include "fiesta/parts/footer.html" %}
{% endblock body %}
{% include "fiesta/parts/modal.html" %}
</body>
</html>
