{% load render_bundle from webpack_loader %}
{% load django_htmx %}
{% load breadcrumbs %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buena Fiesta</title>
    {% render_bundle 'main' 'js' attrs='defer' %}
    {% render_bundle 'main' 'css' %}
    {# TODO: include with webpack #}
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>

    {% django_htmx_script %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="overflow-scroll">
{% block body %}
    {% block navigation_container %}
        <div class="max-w-3xl mx-auto">
            {% include "fiesta/parts/header.html" %}
        </div>
    {% endblock %}

    {% block breadcrumbs_container %}
        <div class="max-w-xl mx-auto my-1">
            {% breadcrumbs %}
        </div>
    {% endblock breadcrumbs_container %}

    {% block main_container %}
        <div class="max-w-xl mx-auto shadow mt-6 p-3">
            <main>
                {% block main %}{% endblock main %}
            </main>
        </div>
    {% endblock main_container %}
{% endblock body %}
</body>
</html>
