{% load utils %}
{% load breadcrumbs %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    {% block upper_head %}{% endblock upper_head %}

    {% breadcrumb_items as items %}
    {% if items|length_is:0 %}
        <title>Buena Fiesta</title>
    {% else %}
        <title>{{ items|join_breadcrumbs }} · Buena Fiesta</title>
    {% endif %}

    <link rel="shortcut icon" href="{% static 'logo.svg' %}"/>

    {% render_bundle 'main' 'js' attrs='defer' %}
    {% render_bundle 'main' 'css' %}

    {% django_htmx_script %}
</head>
<body
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        class="overflow-y-scroll
        flex flex-col justify-between min-h-screen box-border
        selection:bg-primary selection:text-white
        "
>
{% block body %}
    {% include "fiesta/parts/messages.html" %}
    <div class="sticky top-0 bg-white z-20">
        {% block navigation_container %}
            <header class="max-w-4xl mx-auto w-full px-4 sm:px-2">
                {% include "fiesta/parts/header.html" %}
            </header>
        {% endblock %}

        {% block breadcrumbs_container %}
            <div class="max-w-4xl mx-auto w-full flex flex-rox justify-between items-center
                    px-4 sm:px-2">
                {% include "fiesta/parts/breadcrumbs.html" %}
                {% block breadcrumbs_right %}{% endblock breadcrumbs_right %}
            </div>

            <div class="border border-gray-50"></div>
        {% endblock breadcrumbs_container %}
    </div>

    {% block main_container %}
        <div class="max-w-4xl mx-auto mb-auto w-full">
            {% block main_columns %}
                <main class="p-3">
                    {% block main %}{% endblock main %}
                </main>
                {% block main_right %}{% endblock main_right %}
            {% endblock %}
        </div>
    {% endblock main_container %}

    {% block upper_footer %}{% endblock upper_footer %}

    <div class="border border-gray-50"></div>

    {% include "fiesta/parts/footer.html" %}
{% endblock body %}
</body>
</html>
