{% extends "fiesta/base.html" %}

{% block breadcrumbs_container %}
{% endblock breadcrumbs_container %}

{% block main_container %}
    <section class="text-gray-600 body-font">
        <div class="container px-5 pt-24 pb-12 mx-auto">
            <div class="flex flex-wrap w-full mb-20">
                <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">
                        Your ESN section assistant
                    </h1>
                    <div class="h-1 w-20 bg-primary rounded"></div>
                </div>
                <p class="lg:w-1/2 w-full leading-relaxed text-gray-500 max-w-xl">
                    Tired of manual buddy matching, disoriented international students in the streets of your city,
                    overwhelmed by tones of handwritten ESNcards, or students lost in your office open hours?
                    <span class="font-bold text-primary text-xl block">No more!</span>
                </p>
            </div>
        </div>
    </section>
    <section class="bg-primary">
        <div class="container px-5 py-12 mx-auto">
            <div class="flex flex-wrap -m-4">
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <img class="h-40 rounded w-full object-cover object-center mb-6"
                            src="http://placeimg.com/720/400/people" alt="content">
                        <h3 class="tracking-widest text-red-500 text-xs font-medium title-font">AUTOMATIC</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Buddy System</h2>
                        <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat.
                            Distillery hexagon disrupt edison bulbche.</p>

                        {#                        <div class="text-right">#}
                        {#                            <button class="text-white bg-primary border-0 py-1 px-8 focus:outline-none#}
                        {#                        hover:bg-indigo-600 rounded text-md mt-10 sm:mt-0">#}
                        {#                                Features#}
                        {#                            </button>#}
                        {#                        </div>#}
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <img class="h-40 rounded w-full object-cover object-center mb-6"
                            src="http://placeimg.com/721/401/arch" alt="content">
                        <h3 class="tracking-widest text-primary text-xs font-medium title-font">INTUITIVE</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Pickup System</h2>
                        <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat.
                            Distillery hexagon disrupt edison bulbche.</p>
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <img class="h-40 rounded w-full object-cover object-center mb-6"
                            src="http://placeimg.com/722/402/tech" alt="content">
                        <h3 class="tracking-widest text-red-500 text-xs font-medium title-font">EASY TO USE</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">ESNcards System</h2>
                        <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat.
                            Distillery hexagon disrupt edison bulbche.</p>
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <img class="h-40 rounded w-full object-cover object-center mb-6"
                            src="http://placeimg.com/723/403/arch" alt="content">
                        <h3 class="tracking-widest text-red-500 text-xs font-medium title-font">PUBLIC</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Office Open Hours</h2>
                        <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat.
                            Distillery hexagon disrupt edison bulbche.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_container %}
