{% extends "fiesta/base.html" %}

{% load static %}
{% load i18n %}
{% load breadcrumbs %}

{% block main %}
  <div>
    <div class="text-center mt-8 text-9xl">📍</div>
    <div class="mt-12 px-4 text-center w-full lg:w-1/2 mx-auto prose">
      <h1 class="text-6xl font-bold text-center">{% trans "Pickup System" %}</h1>
      <p class="lead">Ready to help students?</p>
      <a class="btn btn-primary btn-lg"
         href="{% url "pickup_system:matching-requests" %}">{% trans "Show pickup requests" %}</a>
    </div>
  </div>
{% endblock %}
